<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">

	<title>Upload Image</title>

	<!-- Stylesheets -->
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="../js/plupload.full.js"></script>
	<script src="../js/jquery-progressbar.min.js"></script>
	<script>
		var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};

	</script>


	<style type="text/css">
		html, body { margin: 0;	padding: 0; }
		body { height: 250px;
    width: 100%;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
		background-repeat: no-repeat;}
		#uploader { margin: 0 auto; }
		.info { text-align: center; padding: 50px 0; color: #666; font-family: Helvetica, Arial, sans-serif; }
		#runtime { text-transform: uppercase; }
		.info span { color: #81c468; }
	</style>
<meta name="robots" content="noindex,follow" />
</head>

<body class="">

<div class="upload-form" id="uploader">

	<!-- Form Heading -->
	<!--<h1 class="replace-text">Upload Form</h1>-->
	<!--<a href="#" class="close" title="Close Window"><img src="img/close-button.png" alt="Close"></a>-->

	<h1>Upload the Image which you want to predict</h1>

	<!-- Select & Upload Button -->
	<div>
		<!--<a class="button" id="pickfiles" href="#">Select</a>
		<a class="button" id="uploadfiles" href="#">Upload</a>-->
		<form action="" method="post" enctype="multipart/form-data">
        <div><input type="file" name="file" onchange="loadFile(event)"></div>
			<div class="img-dec"><p><img id="output" width="400" /></p></div>
			<br>
			<div class="top-pad">
				<input type="submit" value="Upload" class="top-pad">
			</div>
			<div>
				{{result}}</div>
    </form>
	</div>

	<!-- File List -->
	<div id="filelist" class="cb"></div>

	<!-- Progress Bar -->
	<div id="progressbar"></div>


</div>

</body>

</html>